@page "/"
@using Microsoft.EntityFrameworkCore
@using ShopObject.Model
@inject IDbContextFactory<ShopObjectContext> DB
@foreach (var client in Clients)
{
    <p>client.FullName</p>
}


@code {
    List<Client> Clients = new();

    protected override async Task OnInitializedAsync()
    {
        using (var db = DB.CreateDbContext())
        {
            Clients = db.Clients.ToList();
        }
    }

}